---
import AuthorCard from "@blog-app/components/AuthorCard.astro";
import MainLayout from "@blog-app/layouts/MainLayout.astro";
import { siteConfig } from "@blog-app/settings";
import { getCollection } from "astro:content";

const authors = await getCollection("author");
---

<MainLayout title="Authors | Blog App">
  <section class="container px-6 py-10 mx-auto">
    <h1 class="text-3xl font-semibold capitalize dark:text-white text-gray-800">
      {siteConfig.title}
    </h1>
  </section>

  <section class="grid grid-cols-1 sm:grid-cols-2 gap-2">
    {authors.map((author) => <AuthorCard author={author} />)}
  </section>
</MainLayout>
