---
import PokemonCard from "@poke-app/components/pokemons/PokemonCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { type PokemonListResponse } from "../models";
import Title from "@poke-app/components/shared/Title.astro";

const res = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await res.json()) as PokemonListResponse;
---

<MainLayout title="Home | PokeApp">
  <Title>Listado de Pokemons</Title>
  <section
    aria-label="Listado de pokemons"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
  >
    {data.results.map((pokemon) => <PokemonCard {...pokemon} />)}
  </section>
</MainLayout>
